		/*BODY*/

		body{
			font-family:Avenir;
			margin: 0px;
		}

		h1{
		    color: white;
		    text-align: center;
		    font-size:60px;
		    margin: 0px;
		    margin-bottom:0.5em;
		    padding: 20px 0px 20px;
		    font-weight: normal;	
		    width: 100%;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		a:hover{
			text-decoration: underline;
		}
	
		/* LIST STYLES*/
		li {
			color: black;
			font-weight: normal;
			text-align: center;
			padding: 40px 0px 40px;
			background-color: #B9D6F3;
			width: 300px;
			font-size: 20px;
			margin-bottom:20px;

			border-radius: 30px;

		}

		ul{
			list-style: none;
			margin: 10px;

		}

		.title {
			font-weight: bold;
			border-bottom: 1px dotted white;
			width: 100%;

		}


		.subtitle {
			color: white;
		}

		/*NAVIGATION*/

		.nav {
			width: 100%;
			background-color: #B9D6F3; 
			/*padding: 20px;*/
		}

		#page-title {
			margin: 0px ;
			padding: 0px ;
			text-align: center;

			margin-left: auto;
			margin-right: auto;
			width: 50%;


		}

		#backbutton{
			color: white;
			font-weight: normal;
			margin-left: 20px;
			float:left;
		}
		#backbutton a{
			color: inherit;
		}

